ARISE_data
PROFUNGIS/samples
PROFUNGIS/config*.yml
PROFUNGIS/sample_list*.txt
PROFUNGIS/*_output*
PROFUNGIS/log.txt
PROFUNGIS_post_processing/*.csv
taxonomic_assignment/*.csv
taxonomic_assignment/*.txt
taxonomic_assignment/*.fasta
taxonomic_assignment/Unite/*.fasta
output_tables
__pycache__
.venv
usearch11
.snakemake
